// Place all the styles related to the packages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.packages {
  margin: 0 2%;
}

.heading {
  text-align: center;
}

p {
  font-size: 0.9em;
}